<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petland.repository.ProductRepository">
    
    <resultMap id="productMap" type="com.petland.entity.Product">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="stock" column="stock"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>
    
    <select id="findById" resultMap="productMap">
        SELECT * FROM product WHERE id = #{id}
    </select>
    
    <select id="findAll" resultMap="productMap">
        SELECT * FROM product
    </select>
    
    <select id="findByPriceRange" resultMap="productMap">
        SELECT * FROM product WHERE price BETWEEN #{param1} AND #{param2}
    </select>
    
    <select id="findByStockStatus" resultMap="productMap">
        SELECT * FROM product 
        <where>
            <if test="_parameter == true">
                stock > 0
            </if>
            <if test="_parameter == false">
                stock = 0
            </if>
        </where>
    </select>
    
    <insert id="insert" parameterType="com.petland.entity.Product" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product (name, price, stock)
        VALUES (#{name}, #{price}, #{stock})
    </insert>
    
    <update id="update" parameterType="com.petland.entity.Product">
        UPDATE product
        SET name = #{name},
            price = #{price},
            stock = #{stock}
        WHERE id = #{id}
    </update>
    
    <update id="updateStock">
        UPDATE product
        SET stock = #{param2}
        WHERE id = #{param1}
    </update>
    
    <delete id="deleteById">
        DELETE FROM product WHERE id = #{id}
    </delete>
    
</mapper>
